:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --white: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
  background-attachment: fixed;
  font-family: "Kumbh Sans", sans-serif;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  display: grid;
  place-content: center;
}

.container__card {
  background-color: var(--white);
  width: 20rem;
  height: 100%;
  border-radius: 1.5rem;
  margin-top: 2rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 12px 32px -10px rgba(0, 0, 0, 0.78);
  -webkit-box-shadow: 1px 12px 32px -10px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 1px 12px 32px -10px rgba(0, 0, 0, 0.78);
}

.container__card__images {
  background-image: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 90px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.container__card__images img {
  position: absolute;
  left: 2.5rem;
  top: -7rem;
  width: 15rem;
}

.container__card__images img[alt="desktop box"] {
  display: none;
}

.container__card__details {
  padding: 0rem 1.5rem 2rem 1.5rem;
}

.container__card__details__header {
  text-align: center;
  font-size: 2rem;
}

.container__card__details__group {
  border-bottom: 1px solid var(--light-grayish-blue);
  cursor: pointer;
}

.container__card__details__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__card__details__answer {
  display: none;
  margin-top: -0.25rem;
}

.attribution {
  font-size: 0.5rem;
  text-align: center;
  color: var(--white);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  .container__card {
    width: 50rem;
    height: 26rem;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .container__card__images {
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: -300px -150px;
    width: 100%;
    overflow: hidden;
  }

  .container__card__images img {
    width: 27rem;
    position: relative;
    left: -4rem;
    top: 3rem;
  }

  .container__card__images img[alt="desktop box"] {
    display: block;
    position: absolute;
    width: 10rem;
    left: -5rem;
    top: 12rem;
  }

  .container__card__details {
    padding: 3rem 3rem 0rem 3rem;
  }

  .container__card__details__header {
    text-align: left;
    font-size: 2rem;
  }

  .container__card__details__question {
    width: 16rem;
  }

  .container__card__details__answer {
    width: 14rem;
  }
}
